body {
  color: #868686;
  font-size: 14px;
  line-height: 1rem; }

a {
  color: #fff; }

.row {
  margin-bottom: 10px;
  text-align: center;
  color: #fff; }

.btn-list {
  display: block;
  margin-top: 20px;
  color: #fff; }
  .btn-list > ul > li {
    margin: 1rem;
    display: inline-block; }

/* TWITTER =========================================== */
#twitter {
  background: #1CC1F7; }

/* twitter rectangles =================================================== */
#twitter-rectangle .tw-outside {
  background: #0081b7;
  display: block;
  height: 55px;
  position: relative; }

#twitter-rectangle .tw-text,
#twitter-rectangle .tw-click {
  display: block;
  height: 100%;
  padding-top: 20px;
  position: absolute;
  width: 100%;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all; }

#twitter-rectangle .tw-text {
  font-size: 20px;
  font-weight: 700;
  z-index: 9999; }

#twitter-rectangle .tw-click {
  z-index: 8888; }

/* twitter 1 ------------------------------------- */
#tw-1 {
  overflow: hidden; }

#tw-1 .tw-click {
  margin-top: -100px; }

#tw-1:hover .tw-text {
  margin-top: 100px; }

#tw-1:hover .tw-click {
  margin-top: 0; }

/* twitter 2 ------------------------------------ */
#tw-2 .tw-text {
  background: #42e7ff;
  height: 100%;
  width: 100%; }

#tw-2:hover .tw-text {
  margin-top: -55px; }

/* twitter circles ====================================================== */
#twitter-circle .tw-outside {
  display: block;
  margin: 0 auto;
  position: relative; }

#twitter-circle .tw-text,
#twitter-circle .tw-click {
  cursor: pointer;
  display: block;
  position: absolute;
  width: 100%;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all; }

#twitter-circle .tw-text {
  font-size: 20px;
  font-weight: 700;
  z-index: 9999; }

#twitter-circle .tw-click {
  z-index: 8888; }

/* twitter 3 ------------------------------------ */
#tw-3 {
  height: 100px;
  width: 100px; }

#tw-3 .tw-text {
  background: #0081b7;
  font-size: 60px;
  height: 100%;
  padding-top: 20px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%; }

#tw-3 .tw-click {
  background: #42e7ff;
  opacity: 0;
  padding: 10px 10px 5px;
  margin-top: 25px;
  margin-left: -40px;
  padding-left: 30px;
  width: auto;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

#tw-3:hover .tw-text {
  margin-left: -100px;
  transform: rotate(-360deg);
  -moz-transform: rotate(-360deg);
  -webkit-transform: rotate(-360deg); }

#tw-3:hover .tw-click {
  opacity: 1;
  margin-left: -20px; }

/* twitter 4 --------------------- */
#tw-4 {
  background: #0081b7;
  height: 50px;
  overflow: hidden;
  text-align: center;
  width: 50px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all; }

#tw-4 .tw-text {
  font-size: 30px;
  height: 100%;
  padding-top: 10px; }

#tw-4 .tw-click {
  opacity: 0;
  padding: 10px 10px 5px;
  margin: 0 auto;
  margin-top: 0px; }

#tw-4:hover {
  width: 200px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

#tw-4:hover .tw-text {
  opacity: 0; }

#tw-4:hover .tw-click {
  opacity: 1;
  margin-top: 5px; }

/* GOOGLE =================================================================== */
#google {
  background: #DD4B39; }

/* google =================================================== */
.go-outside {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  position: relative; }

.go-text,
.go-click {
  display: block;
  position: absolute;
  text-align: center;
  width: 100%;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all; }

.go-text {
  font-size: 20px;
  font-weight: 700;
  z-index: 9999; }

.go-click {
  z-index: 8888; }

/* google 1 --------------------------------- */
#go-1 {
  background: #ff715f;
  height: 55px; }

#go-1 .go-text {
  background: #b72513;
  height: 100%;
  padding-top: 15px; }

#go-1 .go-click {
  padding-top: 15px; }

#go-1:hover .go-text {
  margin-top: 100px; }

/* google 2 --------------------------------- */
#go-2 {
  height: 100px;
  background: #DD4B39; }

#go-2 .go-text {
  font-size: 40px;
  height: 20%; }

#go-2 .go-click {
  margin-left: 100px;
  opacity: 0;
  padding-top: 15px; }

#go-2:hover .go-text {
  margin-left: -100px; }

#go-2:hover .go-click {
  margin-left: 0;
  opacity: 1; }

/* google 3 --------------------------------- */
#go-3 {
  height: 150px;
  padding-top: 40px;
  background: #DD4B39; }

/* text that shows up beneath */
#go-3::after {
  content: attr(data-title);
  color: #ff715f;
  font-size: 20px;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  opacity: 0;
  text-align: center; }

#go-3 .go-text {
  background: #b72513;
  font-size: 40px;
  padding: 3px;
  width: 30%;
  left: 35%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

#go-3 .go-click {
  opacity: 0;
  padding-top: 15px; }

#go-3:hover .go-text {
  margin-top: -40px; }

#go-3:hover .go-click {
  margin-top: 20px;
  opacity: 1; }

#go-3:hover::after {
  opacity: 1; }

/* google 4 --------------------------------- */
#go-4 {
  height: 200px;
  background: #DD4B39; }

#go-4 .go-text {
  font-size: 100px;
  height: 20%; }

#go-4 .go-click {
  opacity: 0;
  padding-top: 65px;
  transform: scale(0.5);
  -moz-transform: scale(0.5);
  -webkit-transform: scale(0.5); }

#go-4:hover .go-text {
  opacity: 0;
  z-index: 888;
  transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2); }

#go-4:hover .go-click {
  opacity: 1;
  z-index: 999;
  transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1); }

/* FACEBOOK ================================================================= */
/* from david walsh: http://davidwalsh.name/demo/css-flip.php */
.flip-container {
  -webkit-perspective: 1000;
  -webkit-transform-style: preserve-3d; }

.flip-container,
.front,
.back {
  margin: 0 auto;
  width: 225px;
  height: 200px; }

.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  position: relative; }

.front,
.back {
  -webkit-backface-visibility: hidden;
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  padding-top: 50px;
  padding-bottom: 50px;
  position: absolute;
  top: 0;
  left: 0; }

.front {
  background: #35528f;
  z-index: 2;
  -webkit-transform: rotateY(0deg); }
  .front span {
    font-size: 80px;
    margin-top: 10px; }

.back {
  background: #021f5c;
  padding-top: 65px;
  -webkit-transform: rotateY(-180deg); }

.flip-container:hover .back {
  -webkit-transform: rotateY(0deg); }

.flip-container:hover .front {
  -webkit-transform: rotateY(180deg); }

.button {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  display: block;
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  margin: 1em auto;
  position: relative;
  padding: 20px 0;
  width: 220px;
  background: #0D6;
  border: 1px solid #0D6;
  color: #FFF;
  overflow: hidden;
  transition: all 0.5s; }
  .button span {
    display: inline-block;
    position: relative;
    padding-right: 0;
    transition: padding-right 0.5s; }
    .button span:after {
      content: ' ';
      position: absolute;
      top: 0;
      right: -18px;
      opacity: 0;
      width: 10px;
      height: 10px;
      margin-top: -10px;
      background: transparent;
      border: 3px solid #FFF;
      border-top: none;
      border-right: none;
      transition: opacity 0.5s, top 0.5s, right 0.5s;
      transform: rotate(-45deg); }

.button:hover,
.button:active {
  text-decoration: none;
  color: #0C5;
  border-color: #0C5;
  background: #FFF; }
  .button:hover span,
  .button:active span {
    padding-right: 30px; }
    .button:hover span:after,
    .button:active span:after {
      transition: opacity 0.5s, top 0.5s, right 0.5s;
      opacity: 1;
      border-color: #0C5;
      right: 0;
      top: 50%; }

.btn {
  padding: .3rem .5rem;
  background: none;
  border: 1px solid;
  transition: color 1s; }

.btn:hover {
  cursor: pointer; }

.btn-a {
  color: #20C718; }

.btn-a:hover {
  animation: halftone 1s forwards;
  background: radial-gradient(circle, #20c718 0.2em, transparent 0.25em) 0 0/1.25em 1.25em, radial-gradient(circle, #20C718 0.2em, transparent 0.25em) 6.25em 6.25em/1.25em 1.25em;
  color: #fff;
  border-color: #18890C; }

@keyframes halftone {
  100% {
    background-size: 2.375em 2.375em, 0.1em 0.1em; } }

@-webkit-keyframes halftone {
  100% {
    background-size: 2.375em 2.375em, 0.1em 0.1em; } }

.btn-b {
  color: #3B63F6; }

.btn-b:hover {
  animation: stripes-move .75s infinite linear;
  background: repeating-linear-gradient(45deg, #3B63F6 0, #3B63F6 0.25em, transparent 0.25em, transparent 0.5em);
  background: -webkit-repeating-linear-gradient(45deg, #3B63F6 0, #3B63F6 0.25em, transparent 0.25em, transparent 0.5em);
  color: #06298D; }

@keyframes stripes-move {
  100% {
    background-position: 5em 0; } }

.btn-c {
  color: #FA7F7F; }

.btn-c:hover {
  animation: sawtooth .35s infinite linear;
  background: linear-gradient(-45deg, #F6D9C2 0.5em, transparent 0.5em) 0 0/1em 1em, linear-gradient(-45deg, #F6D9C2 0.5em, transparent 0.5em) 0 0/1em 1em;
  color: #9D0DA2; }

@keyframes sawtooth {
  100% {
    background-position: 1em 0; } }

.btn-d {
  color: #81ECF9; }

.btn-d:hover {
  animation: zigzag 1s linear infinite;
  background: linear-gradient(135deg, rgba(238, 161, 99, 0.25) 0.25em, transparent 0.25em) -0.5em 0, linear-gradient(225deg, rgba(238, 161, 99, 0.25) 0.25em, transparent 0.25em) -0.5em 0, linear-gradient(315deg, rgba(238, 161, 99, 0.25) 0.25em, transparent 0.25em) 0 0, linear-gradient(45deg, rgba(238, 161, 99, 0.25) 0.25em, transparent 0.25em) 0 0;
  background-size: .75em .75em;
  color: #0CB03E; }

@keyframes zigzag {
  100% {
    background-position: 1em 0, 1em 0, -0.75em 0, -0.75em 0; } }

.btn-e {
  color: #FDC792; }

.btn-e:hover {
  animation: blinds .75s linear forwards;
  background: linear-gradient(0deg, #7cf07f 25%, transparent 25%) 0 0/0.5em 0.5em, linear-gradient(0deg, #88d6f3 50%, transparent 50%) 0 0/1em 1em;
  color: #fff; }

@keyframes blinds {
  100% {
    background-position: 0 0, 0 -3em;
    background-size: 0 0, 1em 6em; } }

.btn-f {
  color: #0E08F3; }

.btn-f:hover {
  animation: pulse 1s ease-in infinite;
  background: radial-gradient(circle, rgba(249, 135, 155, 0.25) 43%, transparent 50%) 0 0/1em 1em, radial-gradient(circle, rgba(249, 135, 155, 0.25) 43%, transparent 50%) 0.5em 0.5em/2em 2em;
  color: #12098B; }

@keyframes pulse {
  50% {
    background-position: .66em .66em, -.33em -.33em; }
  100% {
    background-size: 2em 2em, 1em 1em;
    background-position: -1.5em -1.5em, -1em -1em; } }

.btn-line {
  color: #B82E2E; }

.btn-line:hover {
  color: #ffffff;
  background: #B82E2E;
  border-color: #B82E2e; }

.btnborder {
  position: relative;
  font-size: 14px;
  width: 120px;
  padding: 8px 10px;
  text-align: center;
  color: #333;
  border: none;
  background: none;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 1px #333; }

.btnborder::before, .btnborder::after {
  box-sizing: border-box;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%; }

.draw {
  -webkit-transition: color 0.25s;
  transition: color 0.25s; }

.draw::before, .draw::after {
  border: 1px solid transparent;
  width: 0;
  height: 0; }

.draw::before {
  top: 0;
  left: 0; }

.draw::after {
  bottom: 0;
  right: 0; }

.draw:hover {
  color: #60daaa; }

.draw:hover::before, .draw:hover::after {
  width: 100%;
  height: 100%; }

.draw:hover::before {
  border-top-color: #60daaa;
  border-right-color: #60daaa;
  -webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s; }

.draw:hover::after {
  border-bottom-color: #60daaa;
  border-left-color: #60daaa;
  -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s; }
